
#format-buttons {
	margin: 15px 0 2px 0;
}

/* Emoticons panel */
#smiley-box {
	width: 18%;
	float: right;
}

a.button1, input.button1, input.button3, a.button2, input.button2 {
	width: auto !important;
	padding-top: 1px;
	padding-bottom: 1px;
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	color: #000;
	background: #FAFAFA none repeat-x top left;
}

/* Topic and forum Search */

a.forumtitle:active {
	color: #898989;
}

a:link	{ color: #898989; text-decoration: none; }

input.button1, input.button2 {
	font-size: 1em;
}

/* CSS spec requires a:link, a:visited, a:hover and a:active rules to be specified in this order. */
/* See http://www.phpbb.com/bugs/phpbb3/59685 */

fieldset.quick-login input {
	width: auto;
}

/* MCP forum selection*/
fieldset.forum-selection {
	margin: 5px 0 3px 0;
	float: right;
}

#search-box a:link, .navbg a:link, .forumbg .header a:link, .forabg .header a:link, th a:link {
	color: #FFFFFF;
	text-decoration: none;
}

a.down:hover {
	background-position: right bottom;
	text-decoration: none;
}
