
label img {
	vertical-align: middle;
}

.inputbox:focus {
	border: 1px solid #eaeaea;
	color: #4b4b4b;
}

/* Quick-login on index page */
fieldset.quick-login {
	margin-top: 5px;
}

input.button3 {
	padding: 0;
	margin: 0;
	line-height: 5px;
	height: 12px;
	background-image: none;
	font-variant: small-caps;
}

#format-buttons {
	margin: 15px 0 2px 0;
}

#search-box a:visited, .navbg a:visited, .forumbg .header a:visited, .forabg .header a:visited, th a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

fieldset.fields1 #recaptcha_widget_div div {
	margin-bottom: 0;
}
