
option.disabled-option {
	color: graytext;
}

label {
	cursor: default;
	padding-right: 5px;
	color: #676767;
}

h3 {
	border-bottom-color: #CCCCCC;
	color: #115098;
}

fieldset.display-options label {
	white-space: nowrap;
	padding-right: 2px;
}

a.forumtitle {
	font-family: "Trebuchet MS", Helvetica, Arial, Sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	color: #898989;
	text-decoration: none;
}
