/*
 * Title:   Miracle | Responsive Multi-Purpose Wordpress Theme - SCSS Variables for style customization
 * Author:  http://themeforest.net/user/soaptheme
 */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[Table of contents]

1. Skin colors
2. Global
3. Important colors

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* 1. Theme skin colors */
$theme-skin-orange: #ff6600;
$theme-skin-green:  #97cc24;
$theme-skin-purple: #b53cd3;
$theme-skin-blue:   #00a2ee;
$theme-skin-yellow: #ffae00;
$theme-skin-gray:   #acacac;
$theme-skin-navy:   #006cff;
$theme-skin-sea:    #0ab596;
$theme-skin-red:    #ff1818;
$theme-skin-gold:   #d9be2b;

/* 2. Global */
/*
$font-stack:    'Open Sans', Arial, Helvetica, sans-serif;
$primary-color: #939faa;
$primary-light-color: #b6c0c9;
$heading-color: #1b4268;
$secondary-color: #d4dde5;
$mainbg-color: #edf6ff;
$site-max-width: 1170px;
$body-font-size: 12px;
$body-line-height: 1.5em;
$body-bg: #fff;
$body-bg-size: auto;
$paragraph-font-size: 13px;
$paragraph-line-height: 1.8em;
$logo-font-size: 20px;
$logo-font-family: Dosis;
$logo-font-weight: 600;
$custom-font1: Playfair Display;
$custom-font2: Open Sans Condensed;
$custom-font3: Dosis;
*/

/* 3. Important colors */
/*$theme-skin-color: $theme-skin-orange;
$theme-skin-light-bgcolor: #ff7d26;
$theme-skin-light-fontcolor: #ffc299;*/